/* MEDIA */

@media (max-width: 1024px){
  .banner-section{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 150px 50px 90px !important;
  }
}



@media (max-width: 767px){
  .banner-section{
    padding: 120px 30px 60px !important;
  }
}


@media (max-width: 1024px){
  .banner-container{
    max-width: 1024px !important;
  }
}

@media (max-width: 767px){
  .banner-container{
    max-width: 767px !important;
  }
}

@media (max-width: 1024px){
  .banner-container{
    flex-wrap: wrap !important; 
  }
}


@media (max-width: 767px){
  .left-column-container {
    width: 100% !important;
  }
}

@media (min-width: 768px){
  .left-column-container{
    width: 70% !important;
  }
}

@media (max-width: 1024px) and (min-width: 768px){
  .left-column-container{
    width: 95% !important;
  }
}


@media (min-width: 768px){
  .right-column-container{
    width: 30% !important;
  }
}

@media (max-width: 1024px) and (min-width: 768px){
  .right-column-container{
    width: 5% !important;
  }
}


@media (max-width: 921px){
  h1{
    font-size: 80px !important;
  }
}

@media (max-width: 544px){
  h1{
    font-size: 40px !important;
  }
}

@media (max-width: 767px){
  .banner-description{
    margin: 0 !important;
  }
  
}


@media (max-width: 1024px){
  .textb-content{
    margin: 0 !important;
    padding: 0 !important;
  }
}

@media (max-width: 1024px){
  .widget-container{
    padding: 30px 0 0 !important;
  }
}


@media (max-width: 1024px){
  .tours-section{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
  }
}

@media (max-width: 767px){
  .tours-section{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
  }
}



/* ---------------------------------------------------- */

*{
  margin: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: 'Abril Fatface';
  src: url(../fonts/AbrilFatface-Regular.ttf);
}

@font-face {
  font-family: 'Work Sans';
  src: url(../fonts/WorkSans-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Yesteryear';
  src: url(../fonts/Yesteryear-Regular.ttf) ;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../webfonts/fa-regular-400.eot");
  src: url("../webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-regular-400.woff2") format("woff2"), url("../webfonts/fa-regular-400.woff") format("woff"), url("../webfonts/fa-regular-400.ttf") format("truetype"), url("../webfonts/fa-regular-400.svg#fontawesome") format("svg"); 
}


.far{
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; 
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../webfonts/fa-solid-900.eot");
  src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

.fas{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-arrow-alt-circle-right:before {
  content: "\f35a"; 
}

.fa-quote-left:before {
  content: "\f10d"; 
}

.fa-award:before {
  content: "\f559"; 
}

.fa-clock:before {
  content: "\f017";
}

.fa-percent:before {
  content: "\f295"; 
}

.fa-headset:before {
  content: "\f590"; 
}

@font-face {
  font-family: "eicons";
  src: url("https://db.onlinewebfonts.com/t/51b82d4115678fe2c3ad2bbf6cc3146b.eot");
  src: url("https://db.onlinewebfonts.com/t/51b82d4115678fe2c3ad2bbf6cc3146b.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/51b82d4115678fe2c3ad2bbf6cc3146b.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/51b82d4115678fe2c3ad2bbf6cc3146b.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/51b82d4115678fe2c3ad2bbf6cc3146b.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/51b82d4115678fe2c3ad2bbf6cc3146b.svg#eicons")format("svg");
}


body, button, input, select, textarea {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

body, h1, h2, h3, h4, h5, h6, hr, li, ol, ul {
  border: 0;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
  
/* body{
  padding: 0;
  background-image: url('../images/bg-04-free-img.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
} */

em{
  font-style: italic;
}

.elementor-element{
  width: 100%;
  height: 100%;
}

.elementor-w{
  width: 100%;
}

.elementor-h{
  height: 100%;
}

.mg0{
  margin: 0;
}

.elementor-section{
  position: relative;
}

.elementor-col-20{
  width: 20%;
}

.elementor-col-25{
  width: 25%;
}

.elementor-col-33{
  width: 33.333%;
}

.elementor-col-50{
  width: 50%;
}

.elementor-col-75{
  width: 75%;
}

.tlalign{
  text-align: left;
}

.tcalign{
  text-align: center;
}

.bk-overlay{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.elementor-widget-container{
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform , .4s;
}

.flx-autolr-r{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  box-sizing: border-box;
}

.fx-container{
  max-width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.bdb{
  box-sizing: border-box;
}

.dpf{
  display: flex;
}

.elementor-widget-wrap{
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.align-ci-fs{
  align-content: flex-start;
  align-items: flex-start;
}

.margin-b10{
  margin-bottom: 10px;
}

.margin-b28-8{
  margin-bottom: 28.8px;
}

.tdu{
  text-decoration: underline;
}

.allc{
  align-content: center;
  align-items: center;
}

.primary{
  padding: 0;
  margin: 0;
  width: 100%;
}


/* HEADER */

.site-header{
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99;
}

.desktop-header-holder{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 4;
}

.desktop-header-set{
  max-width: 100%;
  padding-left: 35px;
  padding-right: 35px;
  min-height: 70px;
  display: grid;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.desktop-header-dset{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-column-gap: 20px;
}

.header-column{
  height: 100%; 
  min-height: 0;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

.desktop-header-left{
  flex-wrap: nowrap;
  display: flex;
  height: 100%;
  min-height: 0;
  align-items: center;
}

.desktop-header-right{
  flex-wrap: nowrap;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  min-height: 0;
  align-items: center;
}

.desktop-tittle{
  align-items: center;
  display: flex;
}

.desktop-tittle-container{
  padding: 18px 0;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;  
}

.desktop-ih{
  line-height: 1;
  align-self: center;
}

.desktop-site-logo{
  padding-right: 18px;
}

.custom-logo{
  max-width: 150px;
  height: auto;
  vertical-align: middle;
  border: 0;
  line-height: 1;
}

.desktop-header-menu{
  padding-left: 0;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.desktop-header-menu-container{
  height: 100%;
  margin-left: auto;
}

.desktop-items-container{
  padding: 0;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.desktop-items-list{
  align-self: center;
  list-style: none;
  margin: 0;
  padding-left: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.desktop-item{
  height: 70px;
  line-height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.item-link{
  height: 100%;
  align-items: center;
  padding: 0 18px;
  display: flex;
  text-decoration: none;
}

.item-link:hover{
  color: #48a9a6;
}

.desktop-header-button{
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  align-items: center;
}

.mobile-header-holder{
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  min-height: 70px;
}

.mobile-h{
  line-height: 3;
}

.mobile-header-set{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-column-gap: 20px;
}

.mobile-logo{
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  min-height: 0;
  align-items: center;
}

.mobile-logo-container{
  display: flex;
  flex-wrap: nowrap;
}

.mobile-logo-holder{
  flex: 1;
  align-self: center;
  padding: 16.4px 0;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  line-height: 1;
}

.mobile-button{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  height: 100%;
  min-height: 0;
  align-items: center;
}

.mobile-button-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.mobile-button-set{
  display: flex;
}

.checkbox-overlay{
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  background-color: #48a9a6;
  border-radius: 3px;
  margin-right: -44.61px; 
  padding: 12.31px;
}

.mobile-menu-toggle-icon{
  display: inline-flex;
  align-self: center;
}

.mobile-toggles{
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  align-self: center;
}

.mobile-svg{
  width: 20px;
  height: 20px;
  fill: #d3dbdb;
}

.button-menu{
  display: flex;
  opacity: 0;
  width: 44.61px;
  height: 44.61px;
}

.pt-s{
  font-size: 24.624px;
  text-align: center;
}

.button-menu:checked + .mobile-bar-container{
  display: block;
}

.mobile-bar-container{
  background-color: #d3dbdb;
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0;
  display: none;
}

.mobile-items{
  display: flex;
  justify-content: flex-start;
}

.mobile-items-container{
  display: block;
  width: 100%;
  flex: auto;
  order: 4;
}

.mobile-items-holder{
  line-height: 3;
}

.mobile-navigation{
  width: 100%;
  align-content: center;
  height: 100%;
}

.mobile-nav-items{
  text-align: left;
  position: relative;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.mobile-item{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.mobile-button-center-container{
  margin: 20px;
}

.mobile-item-link{
  padding: 0 20px;
  display: inline-block;
  width: 100%;
  border: 0;
  text-decoration: none;
  font-size: 16.41px;
}

.mobile-item-link:hover{
  color: #48a9a6;
}

/* ---------------------------------------------------- */


/* SECCION BANNER */

.banner-section{
  background-image: url(../images/bg-02-free-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 200px 0;
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
}

.background-overlay{
  background-image: url(../images/bg-06-free-img.png);
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: .6;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: background .3s, border-radius .3s, opacity .3s;
}

.background-overlay-2{
  background-image: url(../images/bg-06-free-img.png);
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: .5;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: background .3s, border-radius .3s, opacity .3s;
}

.banner-container{
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  box-sizing: border-box;
}

.left-column-container{
  width: 70%;
  position: relative;
  min-height: 1px;
  display: flex;
}


.textb-content{
  align-content: center;
  align-items: center;
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.text-container{
  position: relative;
  margin-bottom: 10px;
  text-align: left;
}

.banner-tittle{
  width: 100%;
  box-sizing: border-box;
}

.text-tittle{
  font-family: 'Abril Fatface', display;
  font-size: 100px;
  color: white;
  margin: 0 0 10px;
  line-height: 1.4em;
}

.banner-description{
  box-sizing: border-box;
  margin: 0 200px 50px 0;
  font-size: 18px;
  color: white;
  line-height: 29.7px;
}

.book-container{
  position: relative;
  text-align: left;
  width: auto;
}

.button-container{
  width: auto;
  text-decoration: none;
  background-color: #48a9a6;
  border-color: #48a9a6; 
  border-style: solid;
  border-radius: 3px;
  padding: 14px 34px;
  border: 0;
  display: inline-block;
}

.button-text-container{
  display: flex;
  justify-content: flex-start;
  text-decoration: inherit;
  align-items: center;
  box-sizing: border-box;
}

.icon-container{
  margin-left: 12px;
  order: 15;
  flex-grow: 0;
  line-height: 0;
  color: white;
}

.button-text{
  flex-grow: 1;
  order: 10;
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: inherit;
  color: white;
  line-height: 1em;
}

.right-column-container{
  width: 30%;
  position: relative;
  min-height: 1px;
  display: flex;
}

/* ----------------------------------------------- */

/* SECCION TOUR*/

.tours-section{
  background-color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 150px;
  position: relative;

}

.elementor-container{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  box-sizing: border-box;
}

.elementor-column{
  position: relative;
  min-height: 1px;
  display: flex;
  box-sizing: border-box;
}

.column-left-tour{
  width: 10%;
}

.column-medium-tour{
  width: 40%;
}

.column-right-tour{
  width: 50%;
}

/* no implementado */
.blank-space{
  align-content: flex-end;
  align-items: flex-end;
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 10%;
}

.tours-container{
  align-content: flex-end;
  align-items: flex-end;
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  margin: -100px 0 0;
  box-sizing: border-box;
}

.icon-maldives{
  background-image: url(../images/home-img-01.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
  margin: 0;
  padding: 35px 25px 200px;
}

.icon-england{
  background-image: url(../images/home-img-02.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
  margin: -50px 0 50px;
  padding: 35px 25px 200px;
}

.icon-italy{
  background-image: url(../images/home-img-03.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
  margin: 0;
  padding: 35px 25px 200px;
}

.icon-japan{
  background-image: url(../images/home-img-04.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
  margin: -50px 0 50px;
  padding: 35px 25px 200px;
}

.tour-overlay{
  background-color: transparent;
  background-image: linear-gradient(170deg, #424242 0%, rgba(65, 64, 66, 0) 100%);
  opacity: .72;
  transition: background .3s, border-radius .3s, opacity .3s;
}

.tour-overlay:hover{
  background-color: #1a6b63;
  opacity: .8;
}

.tour-text-container{
  margin-bottom: 10px;
  text-align: left;
}

.tour-space{
  margin-bottom: 10px;
}

.tour-divider{
  text-align: left;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  box-sizing: border-box;
}

.divider{
  border-block-start: 2px solid white;
  width: 25px;
  margin: 0 auto;
  margin-left: 0;
  display: flex;
  direction: ltr;
  box-sizing: border-box;
}

.divider-2{
  border-block-start: 1px solid black;
  width: 25px;
  margin: 0 auto;
  margin-left: 0;
  display: flex;
  direction: ltr;
  box-sizing: border-box;
}

.tour-price{
  color: #fff;
  font-style: italic;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 18px;
}

.tour-price-2{
  color: black;
  font-style: italic;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 18px;
}


.popular-tours-text-container{
  margin: 0 0 -35px;
  padding: 50px 0 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: flex-end;
  align-items: flex-end;
}

.our-det{
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Yesteryear';
  line-height: 1.3em;
}

.text-popular{
  margin: 0 0 10px;
  font-size: 4.7rem;
  font-family: 'Abril Fatface', display;
  line-height: 1.3em;
}

.view-container{
  position: relative;
  text-align: left;
  margin: 50px 0 0;
}
/* ----------------------------------------------- */

/* SECCION ABOUT*/

.about-section{
  background-color: white;
  padding: 100px 0 150px;
  position: relative;
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
}

.about-container{
  max-width: 1170px;
}

.about-image-container{
  background-image: url(../images/home-img-08.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-content: center;
  align-items: center;
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
}

.about-image-size{
  height: 650px;
}

.about-text-container {
  align-content: center;
  align-items: center;
  padding: 0 50px 0 75px;
}

.text-normal{
  font-size: 18px;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  line-height:  27.0864px;
}

.text-it{
  font-weight: 600;
  font-style: italic;
}

.content-h5{
  font-size: 20px;
  font-weight: 400;
  font-family: 'Abril Fatface', display;
  line-height: 1.3em;
}
.content-h4{
  font-size: 28px;
  font-weight: 400;
  font-family: 'Abril Fatface', display;
  line-height: 1.3em;
}

.content-h3{
  font-size: 32px;
  font-weight: 400;
  font-family: 'Yesteryear';
  line-height: 1.3em;
}

.content-h2{
  font-size: 75px;
  font-family: 'Abril Fatface', display;
  line-height: 1.3em;
}

.content-h1{
  font-family: 'Abril Fatface', display;
  font-size: 100px;
  line-height: 1.4em;
}

.about-description{
  text-align: left;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 29.7px;
}

.about-view-container{
  position: relative;
  text-align: left;
  margin: 50px 0 0;
}

.about-view-container-2{
  position: relative;
  text-align: left;
}

/* ----------------------------------------------- */

/* SECCION REVIEW*/

.review-section{
  background-image: url('../images/bg-04-free-img.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
  padding: 100px 0;
}

.background-overlay-review{
  background-image: url(../images/bg-06-free-img.png);
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: .6;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: background .3s, border-radius .3s, opacity .3s;
}

.review-container{
  max-width: 1170px;
  height: 100%;
}

.review-head-container{
  text-align: center;
  margin-bottom: 10px;
}

.review-head-comment-holder{
  margin: 0 0 -20px;
}

.ctw{
  color: white;
}

.ctb{
  color: black;
}

.cts{
  color: #48a9a6;
}

.ctd{
  color: #fcaf6c;
}

.review-head-tittle-holder{
  margin: 20px 0 0;
}

.review-up-section{
  padding: 50px 0 0;
}

.review-up-container{
  max-width: 1170px;
}

.review-up-left-container{
  width: 33.333%;
}

.review-up-right-container{
  width: 66.666%;
}

.review-sub-container {
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
  margin: 0;
  padding: 50px;
}

.overlay-review{
  transition: background .3s, border-radius .3s, opacity .3s;
  background-color: #414042;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.review-mark-container{
  margin-bottom: 10px;
  align-content: initial;
}

.review-mark-holder{
  margin: 0 0 -64px;
  text-align: left;
}

.review-mark-icon{
  color: rgba(255, 255, 255, .19);
  border-color: rgba(255, 255, 255, .19);
  font-size: 80px;
  display: inline-block;
  line-height: 1;
  transition: all .3s;
  text-align: center;
}

.review-mark-icon-2{
  color: rgba(65, 64, 66, .1);
  border-color: rgba(65, 64, 66, .1);
  font-size: 80px;
  display: inline-block;
  line-height: 1;
  transition: all .3s;
  text-align: center;
}

.review-mark-icon i {
  width: 1em;
  height: 1em;
  position: relative;
  display: block;
}

.review-mark-icon i:before{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.review-comment-container{
  margin-bottom: 10px;
  text-align: left;
}

.comment-content{
  margin-bottom: 1.6em;
}

.fw{
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  line-height: 29.7px;
}

.fb{
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  line-height: 29.7px;
}


.review-stars-container{
  margin-bottom: 10px;
}

.review-stars-holder {
  display: flex;
  align-items: center;
}

.elementor-star-rating{
  font-size: 14px ;
  color: white;
  font-family: "eicons";
  display: inline-block;
}

.elementor-star-rating i {
  display: inline-block;
  position: relative;
  font-style: normal;
  cursor: default;
}

.mg3{
  margin-right: 0;
}

.elementor-star-rating i:before {
  content: "\e934";
  display: block;
  font-size: inherit;
  font-family: inherit;
  position: absolute;
  overflow: hidden;
  color: #ffc300;
  top: 0;
  left: 0;
}

.elementor-star-rating .half-star:before {
  width: 50%;
}

/* check */
.number-stars{
  position: absolute;
  top: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.overlay-review-2{
  transition: background .3s, border-radius .3s, opacity .3s;
  background-color: #48a9a6;
  opacity: 0.74;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.review-down-section{
  padding: 0;
}

.review-down-container{
  max-width: 1170px;
}

.review-down-left-container{
  width: 66.666%;
}

.review-down-right-container{
  width: 33.333%;
}


.overlay-review-3{
  transition: background .3s, border-radius .3s, opacity .3s;
  background-color: white;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

/* ----------------------------------------------- */


/* OFFERS REVIEW*/

.offers-section{
  background-color: white;
  position: relative;
  padding: 125px 0 75px;
}

.offers-container{
  max-width: 1170px;
}

.offers-holder{
  width: 100%;
}

.offers-set{
  align-content: center;
  align-items: center;
}

.offers-head-comment{
  text-align: center;
}

.offers-head-comment-container{
  margin: 0 0 -20px;
}

.offers-head-tittle-container{
  margin: 20px 0 0;
}

.offers-description-container{
  margin: 20px 0 0;
  padding: 0 104px;
}

.offers-view-container{
  position: relative;
  margin: 20px 0 0;
  padding: 0;
}

.mobile-logo-img{
  padding-right: 16.4px;
}

.link-mobile-logo{
  display: inline-block;
}


/* ----------------------------------------------- */

/* TOURS2 REVIEW*/

.tours2-section{
  background-color: white;
  padding: 0 50px 50px;
  position: relative;
}


.icon-chile{
  background-image: url(../images/home-img-05.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
  margin: 0;
  padding: 50px 50px 300px
}

.icon-swize{
  background-image: url(../images/home-img-06.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
  margin: 0;
  padding: 50px 50px 300px
}

.icon-spain{
  background-image: url(../images/home-img-07.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
  margin: 0;
  padding: 50px 50px 300px
}

.icon-bolivia{
  background-image: url(../images/home-img-09.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
  margin: 0;
  padding: 50px 50px 300px
}

.tour-overlay-2{
  background-color: #424242;;
  opacity: .3;
  transition: background .3s, border-radius .3s, opacity .3s;
}

.tour-overlay-2:hover{
  background-color: #48a9a6;
  opacity: .8;
}

/* ----------------------------------------------- */

/* PARTNER REVIEW*/

.partner-section{
  background-color: white;
  padding: 80px 0;
  position: relative;
}

.partner-container{
  max-width: 1170px;
}

.partner-set{
  align-content: center;
  align-items: center;
}

.partner-head-comment-container{
  margin: 0 0 -20px;
}

.partner-logos-section{
  padding: 25px 0 0;
}

.partner-logos-container{
  max-width: 1170px;
}

.logo-holder{
  align-content: center;
  align-items: center;
  margin: 5px;
  padding: 25px;
}

.logo-dim{
  width: 57%;
  max-width: 65%;
  opacity: .85;
  vertical-align: middle;
  display: inline-block;
  height: auto;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

/* ----------------------------------------------- */

/* FOOTER */

.footer-container{
  display: grid;
  background-color: #424242;
  min-height: 71px;
  padding: 20px 0 20px;
}

.footer-holder{
  align-self: center;
}

.footer-set{
  align-items: center;
  max-width: 100%;
  padding: 0 35px 0 35px;
  grid-column-gap: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.rights-holder{
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.copyr-text{
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  line-height: 29.7px;
}

.footer-items{
  list-style: none;
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.link-item{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.menu-link-set{  
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  line-height: 29.7px;
}


.menu-link{
  align-items: center;
  padding: 0 0.5em;
  display: flex;
  text-decoration: none;
}

.menu-link:hover{
  color: #d3dbdb;
}

.pdl0{
  padding-left: 0;
}

.pdr0{
  padding-right: 0;
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */


/* PAGE ABOUT */

.about-section-banner{
  background-image: url(../images/bg-07-free-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 200px 0 150px;
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
}

.tittle-container{
  max-width: 1170px;
}

.mw1170{
  max-width: 1170px;
}



.about-section-header{
  padding: 100px 0 15px;
  position: relative;
  background-color: white;
}


.about-section-description{
  padding: 20px 0 200px;
  position: relative;
  background-color: white;
}

.about-header-text-container{
  align-content: center;
  align-items: center;
}

.about-description-image-container{
  align-content: flex-start;
  align-items: flex-start;
  padding: 0 75px 0 0;
}

.minita{
  filter: brightness(105%) contrast(100%) saturate(73%) blur(0px) hue-rotate(0deg);
  vertical-align: middle;
  display: inline-block;
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.about-description-x2-container{
  align-content: center;
  align-items: center;
  padding: 0 75px 0 0;
}

.about-description-d1-container{
  margin-bottom: 28.8px;
}

.singular-character{
  margin-right: 10px;
  float: left;
  text-align: center;
  line-height: 1;
  font-size: 50px;
}

.about-section-mision{
  padding: 0 0 150px;
  position: relative;

}

.about-mision-overlay{
  background-image: url(../images/about-banner-02.jpg);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .65;
  position: absolute;
}

.about-vision-overlay{
  background-image: url(../images/bg-11-free-img.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: .1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.about-mision-set{
  margin: -100px 0 0;
  padding: 75px 75px 50px 50px;
  background-color: #48a9a6;
  position: relative;
}

.about-section-advantage{
  background-color: white;
  padding: 40px 0;
  position: relative;
}

.about-vision-tittle{
  padding: 0 0 15px;
}

.about-section-set{
  align-content: center;
  align-items: center;
}

.cosito-set{
  margin: 15px;
  padding: 10px;
}

.cosito-icon-container{
  display: inline-block;
  text-align: center;
  color: #48a9a6;
  border: #48a9a6;
  font-size: 30px;
  line-height: 1;
}

.cosito-icon-container i{
  width: 30px;
  height: 30px;
  position: relative;
}

.cosito-icon-container i:before{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.tour-text-description{
  overflow: hidden;
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */


/* PAGE TOURS */

.tours-section-banner{
  background-image: url(../images/tour-banner-01.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 200px 0 150px;
}

.tours-section-tittle{
  background-color: white;
  padding: 100px 0 0;
  position: relative;
}

.tours-section-tr1{
  background-color: white;
  padding: 50px 0;
}

.image-tour-f{
  vertical-align: middle;
  display: inline-block;
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.tours-text{
  padding: 25px 50px 0 0;
  width: 100%;
  position: relative;
}

.tours-section-tr2{
  background-color: white;
  padding: 50px 0;
  position: relative;
}

.tours-section-tr3{
  background-color: white;
  padding: 50px 0 100px;
  position: relative;
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */


/* PAGE REVIEWS */

.reviews-section-banner{
  background-image: url(../images/review-banner-03.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 200px 0 150px;
}

.reviews-section-coments{
  background-color: white;
  padding: 100px 0;
  position: relative;
}

.reviews-coments-s1{
  margin-top: 50px;
}

.review-coment-c-container{
  padding: 0 75px 0 0;
}

.review-space-container{
  margin: 0 0 -64px;
}

.reviews-coments-s2{
  margin-top: 50px;
}

.reviews-coments-s3{
  margin-top: 50px;
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */


/* PAGE CONTACT */

.contact-section-banner{
  background-image: url(../images/contact-img-01.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 200px 0 150px;
}

.contact-section-tittle{
  background-color: white;
  padding: 100px 0 0;
  position: relative;
}

.contact-section-form{
  background-color: white;
  height: 50vh;
  width: 100%;
  padding: 50px 0 150px;
  position: relative;
}

.contact-section-map{
  background-color: white;
  position: relative;
}

.contact-map-set{
  overflow: hidden;
}

.contact-map-set iframe{
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  border: none;
  height: 350px;
}

.contact-left-container{
  align-content: flex-start;
  align-items: flex-start;
  padding: 0 75px 0 0;
}

.contact-left-description{
  overflow: hidden;
}

/* MEDIA */

@media (min-width: 921px){
  .site-header{
    position: absolute;
    left: 0;
    right: 0;
  }
}

@media (max-width: 921px){
  .desktop-header{
    display: none;
  }
}


@media (min-width: 922px){
  .mobile-header{
    display: none;
  }
}


@media(max-width: 921px){
  .custom-logo{
    max-width: 100px;
  }
}

@media(max-width: 544px){
  .custom-logo{
    max-width: 80px;
  }
}

@media(max-width: 921px){
  .custom-logo{
    max-width: 120px;
  }
}

@media(max-width: 543px){
  .custom-logo{
    max-width: 100px;
  }
}


@media (min-width: 768px){
  .column-left-tour{
    width: 10% ;
  }
}

@media (min-width: 768px){
  .column-medium-tour{
    width: 40% ;
  }
}

@media (min-width: 768px){
  .column-right-tour{
    width: 50% ;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-column{
    width: 100% ;
  }
}

@media (max-width: 1024px){
  .popular-tours-text-container{
    margin: 0;
    padding: 50px;
  }
}


@media (max-width: 767px){
  .popular-tours-text-container{
    padding: 50px 30px;
  }
}

@media (max-width: 921px){
  h5{
    font-size: 20px !important;
  }
}

@media (max-width: 544px){
  h5{
    font-size: 24px !important;
  }
}

@media (max-width: 921px){
  h3{
    font-size: 32px !important;
  }
}

@media (max-width: 544px){
  h3{
    font-size: 32px !important;
  }
}

@media (max-width: 921px){
  h2{
    font-size: 55px !important;
  }
}

@media (max-width: 544px){
  h2{
    font-size: 39px !important;
  }
}

@media (max-width: 900px){
  .text-normal{
    font-size: 16.41px !important;
  }
}

@media (max-width: 767px){
  .our-det, .text-popular{
    margin: 0;
  }
}

@media (max-width: 767px){
  .view-container{
    margin: 20px 0 0;
  }
}

@media (max-width: 1024px){
  .tours-container{
    margin: 0;
  }
}

@media (max-width: 767px){
  .tours-container{
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 1024px){
  .section-4tour{
    margin-top: 100px;
    margin-bottom: 0;
    padding: 0;
  }
}

@media (max-width: 767px){
  .section-4tour{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
}

@media (max-width: 1024px){
  .elementor-container{
    flex-wrap: wrap ;
  }
}

@media (min-width: 768px){
  .elementor-col-25{
    width: 25%;
  }
}

@media (max-width: 1024px){
  .tour-section-container, .about-container, .offers-container, .partner-container, .partner-logos-container{
    max-width: 1024px;
  }
}

@media (max-width: 767px){
  .tour-section-container, .about-container, .offers-container, .partner-container, .partner-logos-container{
    max-width: 767px;
  }
}


@media (max-width: 767px){
  .icon-maldives, .icon-italy, .icon-england, .icon-japan, .tour-overlay {
    background-position: center center;
    margin: 0;
    padding: 35px 35px 235px;
  }
}


@media (max-width: 767px){
  .elementor-column {
    width: 100%;
  }
}

@media (max-width: 1024px){
  .about-section{
    padding: 80px 50px;
  }
}

@media (max-width: 767px){
  .about-section{
    padding: 50px 30px;
  }
}

@media (max-width: 767px){
  .left-about-column{
    order: 2;
  }
}

@media (max-width: 767px){
  .right-about-column{
    order: 1;
  }
}

@media (max-width: 1024px){
  .about-text-container{
    margin: 0;
    padding: 0 0 0 50px;
  }
}

@media (max-width: 767px){
  .about-text-container{
    margin: 0;
    padding: 0 0 50px;
  }
}

@media (max-width: 1024px){
  .about-image-container{
    background-position: top left;
  }
}

@media (max-width: 1024px){
  .about-image-size{
    height: 550px;
  }
}


@media (max-width: 767px){
  .about-image-size{
    height: 400px;
  }
}

@media (min-width: 1025px){
  .review-section, .background-overlay-review{
    background-attachment: fixed;
  }
}

@media (min-width: 768px){
  .review-holder{
    width: 100%;;
  }
}

@media (max-width: 1024px){
  .review-section{
    padding: 50px;
  }
}

@media (max-width: 767px){
  .review-section{
    padding: 75px 20px 20px;
  }
}

@media (max-width: 1024px){
  .background-overlay-review{
    background-size: cover;
  }
}

@media (max-width: 1024px){
  .review-up-section{
    padding: 25px 0 0;
  }
}

@media (max-width: 1024px){
  .offers-section{
    padding: 80px 50px;;
  }
}

@media (max-width: 767px){
  .offers-section{
    padding: 75px 20px 50px;
  }
}

@media (max-width: 767px){
  .offers-head-tittle-container{
    margin: 0;
  }
}

@media (max-width: 1024px){
  .offers-description-container{
    padding: 0 50px 10px;
  }
}

@media (max-width: 767px){
  .offers-description-container{
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 1024px){
  .tours2-section{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 25px 25px;
  }
}

@media (max-width: 767px){
  .tours2-section{
    padding: 0;
  }
}

@media (max-width: 1024px) and (min-width: 768px){
  .tour-chile, .tour-swize, .tour-spain, .tour-bolivia{
    width: 50%;
  }
}

@media (max-width: 1024px){
  .logo-dim{
    width: 100%;
    max-width: 80%;
  }
}

@media (min-width: 768px){
  .elementor-col-50{
    width: 50%;
  }
}

@media (min-width: 768px){
  .elementor-col-20{
    width: 20%;
  }
}

@media (min-width: 768px){
  .elementor-col-33{
    width: 33.333%;
  }
}

@media (max-width: 1024px){
  .partner-section{
    padding: 80px 50px 65px;
  }
}

@media (max-width: 767px){
  .partner-section{
    padding: 50px 20px;
  }
}

@media (max-width: 767px){
  .partner-logos-section{
    padding: 15px 0 0;
  }
}

@media(max-width: 767px){
  .logo-container{
    width: 50%;
  }
}

@media (max-width: 544px){
  .footer-set{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 921px){
  .rights-container, .submenu-container{
    display: block;
    margin-bottom: 10px;
  }
}

@media (max-width: 544px){
  .rights-container, .submenu-container{
    display: block;
    margin-bottom: 10px;
  }
}

@media (max-width: 921px){
  .footer-items{
    justify-content: flex-end;
  }
}


@media (max-width: 544px){
  .footer-items{
    justify-content: center;
  }
}

@media (max-width: 921px){
  .menu-link{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1024px){
  .about-section-banner{
    padding: 150px 50px 50px;
  }
}

@media (max-width: 767px){
  .about-section-banner{
    padding: 150px 30px 30px;
  }
}

@media (max-width: 1024px){
  .about-section-header{
    padding: 50px;
  }
}

@media (max-width: 767px){
  .about-section-header{
    padding: 50px 30px 30px;
  }
}

@media (max-width: 1024px){
  .about-header-container, .tittle-containe, .mw1170{
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px){
  .about-header-container, .tittle-container, .mw1170{
    max-width: 1024px;
  }
}

@media (max-width: 767px){
  .about-header-container, .tittle-container, .mw1170{
    max-width: 767px;
  }
}


@media ((min-width: 768px)){
  .about-header-text{
    width: 75%;
  }
}

@media (max-width: 1024px) and (min-width: 768px){
  .about-header-text{
    width: 85%;
  }
}

@media ((min-width: 768px)){
  .about-header-space{
    width: 25%;
  }
}

@media (max-width: 1024px) and (min-width: 768px){
  .about-header-space{
    width: 15%;
  }
}


@media (max-width: 1024px){
  .tittle-banner-set{
    text-align: center;
  }
}

@media (max-width: 767px){
  .tittle-banner-set{
    text-align: center;
  }
}

@media (max-width: 1024px){
  .about-section-description{
    padding: 50px 50px 150px;
  }
}


@media (max-width: 767px){
  .about-section-description{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 30px 130px;
  }
}

@media (max-width: 1024px){
  .about-description-image-container{
    padding: 0 40px 0 0;
  }
}

@media (max-width: 767px){
  .about-description-image-container{
    padding: 0;
  }
}

@media (max-width: 1024px){
  .about-description-x2-container{
    padding: 0;
  }
}

@media (max-width: 767px){
  .about-description-x2-container{
    margin: 30px 0 0;
    padding: 0;
  }
}

@media (min-width: 1025px){
  .about-mision-overlay{
    background-attachment: fixed;
  }
}

@media (max-width: 1024px){
  .about-section-mision{
    padding: 50px;
  }
}

@media (max-width: 767px){
  .about-section-mision{
    padding: 30px;
  }
}

@media (max-width: 1024px){
  .about-mision-set{
    margin: -125px 0 0;
    padding: 50px;
  }
}

@media (max-width: 767px){
  .about-mision-set{
    margin: -80px 0 0;
    padding: 20px;
  }
}


@media (max-width: 1024px){
  .about-section-advantage{
    padding: 20px 0;
  }
}

@media (max-width: 767px){
  .about-section-advantage{
    padding: 30px 0;
  }
}

@media (max-width: 1024px) and (min-width: 768px){
  .elementor-adj{
    width: 50%;
  }
}

@media (max-width: 1024px){
  .cosito-set{
    margin: 40px;
  }
}

@media (max-width: 767px){
  .cosito-set{
    margin: 20px;
  }
}

@media (max-width: 1024px){
  .tours-section-banner{
    padding: 150px 50px 50px;
  }
}

@media (max-width: 767px){
  .tours-section-banner{
    padding: 250px 20px 35px;
  }
}

@media (max-width: 1024px){
  .tours-section-tittle{
    padding: 50px;
  }
}

@media (max-width: 767px){
  .tours-section-tittle{
    padding: 30px;
  }
}

@media (max-width: 1024px){
  .tours-section-tr1, .tours-section-tr2, .tours-section-tr3{
    padding: 0px 50px 50px;
  }
}

@media (max-width: 767px){
  .tours-section-tr1, .tours-section-tr2, .tours-section-tr3{
    padding: 30px;
  }
}

@media (max-width: 767px){
  .fc33{
    padding: 0 0 75px;
  }
}

@media (max-width: 1024px){
  .reviews-section-banner{
    padding: 150px 50px 50px;
  }
}

@media (max-width: 767px){
  .reviews-section-banner{
    padding: 150px 30px 30px;
  }
}


@media (max-width: 1024px){
  .reviews-section-coments{
    padding: 80px 50px;
  }
}

@media (max-width: 767px){
  .reviews-section-coments{
    padding: 50px 30px;
  }
}
@media (max-width: 767px){
  .reviews-coments-s1{
    margin-top: 30px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px){
  .reviews-coments-s2, .reviews-coments-s3{
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 1024px){
  .review-coment-c-container{
    padding: 0 30px 0 0;
  }
}

@media (max-width: 767px){
  .review-coment-c-container{
    margin: 0;
    padding: 0 0 50px;
  }
}

@media (max-width: 1024px){
  .contact-section-banner{
    padding: 150px 50px 50px;
  }
}

@media (max-width: 767px){
  .contact-section-banner{
    padding: 150px 30px 30px;
  }
}

@media (max-width: 1024px){
  .contact-section-tittle{
    padding: 50px;
  }
}

@media (max-width: 767px){
  .contact-section-tittle{
    padding: 50px 30px 30px;
  }
}